# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/expenseflow
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=expenseflow

# JWT
SECRET_KEY=tu-clave-secreta-muy-segura-aqui

# App
DEBUG=False
ENVIRONMENT=development

# API
API_URL=http://localhost:8000
